body {
    text-align: center;
     background-color: #6a6d6e;
     color: rgb(73, 2, 17);
     font-family: 'Berkshire Swash', cursive;
    

}

.bg-light{background-color: #6e7274d0!important;}
img {
    max-width: 500px;
    max-height: 250px;
margin: 10px;}
p
{font-family: 'Abel', sans-serif;}

nav{border-radius: 4px;}
footer{
height: 80px;
left: 0px;
margin-bottom: 0px;
background-color: #6e7274d0;
border-radius: 4px;
}
span{
    align-items: center;
    margin:5px;}
 .hero h3{display: ;
    margin: 0 auto;
     max-width: 800px;}
.hero {border-radius: 4px;
    background: linear-gradient(0deg, rgba(7, 7, 7, 0.5) 5%, rgba(134, 2, 2, 0.2) 80%);}    
.copyright {
    margin-right: 30px;
    font-size: 15px;
    text-align: center;
    font-family: 'Abel', sans-serif;
    line-height: 40px;
}
 .free-link {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid grey;
    text-decoration: none;
    color: antiquewhite;

}
.logo-image {
    max-width: 100px;
  border-radius: 4px;
    }

@media (max-width: 500px) {
    h2,h1,h3,h4, p{
        text-align: center;
    }
    .artist-description{display: none;}
    
       .logo-image {
           max-width: 50px;
       }
       span{font-size: 10px;
    margin-top:5px;}
       .copyright{line-height: 1;
    padding:3px;
font-size: 10px;
margin-top: 15px;}
}
