body {margin: 100px;
    padding: 30px;
     background-color: #537895;
     text-align: center;
}

img {
    max-width: 300px;
    max-height: 150px;
margin: 10px;}

a {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid grey;
    text-decoration: none;
    color: antiquewhite;
}

@media (max-width: 300px) {
    h2,h1 {
        text-align: center;
    }
    a {
        display:block;
        margin:0 auto;
       font-weight: bolder;
       text-transform: uppercase;

    }
    .resize-img{
        width: 80px;
        display:block;
        margin:0 auto;
    }
       
}
