body {
    text-align: center;
    margin-top: 10px;
    padding: 30px;
     background-color: #6a6d6e;
     text-align: center;
     color: rgb(73, 2, 17);
     font-family: 'Berkshire Swash', cursive;
}

img {
    max-width: 300px;
    max-height: 150px;
margin: 10px;}

 .free-link {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid grey;
    text-decoration: none;
    color: antiquewhite;

}
.logo-image {
    max-width: 100px;
  
    }
    
@media (max-width: 500px) {
    h2,h1,h3,h4, p{
        text-align: center;
    }
    a {
        display:block;
       text-transform: capitalize;

    }
    .resize-img{
        width: 80px;
        display:block;
        margin:0 auto;
    }
       .logo-image {
           max-width: 50px;
       }
}
